<!-- Importing Navbar -->
<!-- <app-navbar></app-navbar> -->

<div class="container">
    <!-- <p>My Items:-</p>

    <ul>
        <li *ngFor="let i of cartitems">{{i.productName}} - {{i.qty}}</li>
    </ul> -->

    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">{{this.cartitems.length}} items</div>
                </div>
            </div>

            <div *ngFor="let i of cartitems" class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="/assets/prod-imgs/pannels/pann{{i.id}}.png"></div>
                    <div class="col">
                        <div class="row text-muted">{{i.category}}</div>
                        <div class="row">{{i.productName}}</div>
                    </div>
                    <div class="col text-center"> <button class="minus-btn" (click)="dec_qty(i.id)">-</button><button
                            class="border">{{i.qty}}</button><button (click)="inc_qty(i.id)">+</button> </div>
                    <div class="col">&#8377; {{i.price}} <button (click)="remove_itm(i)" class="close">&#10005;</button>
                    </div>
                </div>
            </div>

        </div>


        <!-- SUMMARY -->
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS {{this.cartitems.length}}</div>
                <div class="col text-right">&#8377; {{myMath.abs(cartTotal)}}</div>
            </div>

            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&#8377; {{myMath.abs(cartTotal)}}</div>
            </div>
            <ng-template [ngIf]="this.cartitems.length > 0">
                <button type=reset class="btn" (click)="openBottomSheet()">Check Out</button>
            </ng-template>
        </div>
    </div>

    <!-- <ng-template [ngIf]="cartitems.length">
    <button mat-raised-button style="margin-left: 1%;" (click)="deleteitem()">Remove</button>

    <button mat-raised-button (click)="openBottomSheet()">Buy</button>
</ng-template> -->
</div>