<!-- Footer -->
<footer class="bg-warning text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

        <div class="row" style="margin-top: 2%;">
            <div class="col-12 col-md">
                <!-- <img class="mb-2" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19"> -->
                <h1 style="color: rgb(255, 255, 255);">I N V E S T &nbsp; E N E R G Y</h1>
                <small class="d-block mb-3 text-muted">&copy; 2021–2024</small>

                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-1"
                        style="background: #d6249f; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);"
                        href="#!" role="button">

                        <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                        </mat-icon>
                    </a>

                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0e76a8" href="mailto:contact@test.com"
                        role="button">
                        <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                        </mat-icon>
                    </a>

                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!"
                        role="button">
                        <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                        </mat-icon>
                    </a>

                    <!-- MAIL -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #DB4437;" href="mailto:investanergy@gmail.com"
                        role="button">
                        <mat-icon svgIcon="gmail" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                        </mat-icon>
                    </a>
                </section>
                <!-- Section: Social media -->
            </div>
            <div class="col-6 col-md">
                <h5>PRODUCTS</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Battries</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Pannels</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Inverters</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Others</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>COMPANY</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" [routerLink]="['/about']">About
                            Us</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            [routerLink]="['/privacypolicy']">Privacy Policy</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            [routerLink]="['/termscondition']">Terms and Conditions</a>
                    </li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            [routerLink]="['/refundcancellation']">Refunds/Cancellations</a>
                    </li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            [routerLink]="['/shippingpolicy']">Shipping Policy</a>
                    </li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            [routerLink]="['/pricingpolicy']">Pricing Policy</a>
                    </li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            [routerLink]="['/warrantypolicy']">Warranty Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>CONTACT US</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a style="pointer-events: none;" class="link-secondary text-decoration-none"
                            href="#">Call:
                            9096238495/8108493971</a></li>
                    <li class="mb-1"><a style="pointer-events: none;" class="link-secondary text-decoration-none"
                            href="#">Email:
                            investanergy@gmail.com</a></li>
                    <li class="mb-1"><a style="pointer-events: none;" class="link-secondary text-decoration-none"
                            href="#">Address: D-201,
                            Gangadham-2, Sukapur, New Panvel-410206.</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->

</footer>
<!-- Footer -->