<!-- Importing Navbar -->
<app-navbar></app-navbar>

<!-- contract Image -->
<section>
    <img src='/assets/prod-imgs/policy1.jpg' alt="Avatar" style="width:100%; height: 500px; background-size: cover; display: block;">
</section>

<!-- Content -->
<div class="container pt-5 pb-5">
    <article class="blog-post"><br><br><br>
        <h1 class="blog-post-title" style="font-size: 50px;">Who we are</h1>
        <hr><br>

        <h2 style="padding-bottom: 5%;">Our website address is: <a style="color: black;"
                href="https://www.investenergy.in/">INVEST ENERYGY</a></h2><br><br><br>

        <h1 style="font-size: 40px;">WHAT DO WE DO WITH YOUR INFORMATION?</h1>
        <hr>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">When you purchase something from
            our store, as part of the buying and selling process, we collect the personal information you give us such
            as your name, address and email address.</p><br><br>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">When you browse our store, we also
            automatically receive your computer’s internet protocol (IP) address in order to provide us with information
            that helps us learn about your browser and operating system.</p><br><br>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey; padding-bottom: 15%;">Email marketing (if applicable):
            With your permission, we may send you emails about our store, new products and other updates.</p>
        <br><br><br>


        <h1 style="font-size: 40px;">CONSENT</h1>
        <hr>

        <h2 style="font-size: 30px;padding-top: 1%;">How do you get my consent?</h2><br>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">When you provide us with personal
            information to complete a transaction, verify your credit card, place an order, arrange for a delivery or
            return a purchase, we imply that you consent to our collecting it and using it for that specific reason
            only.</p><br><br><br>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey; padding-bottom: 10%;">If we ask for your personal
            information for a secondary reason, like marketing, we will either ask you directly for your expressed
            consent, or provide you with an opportunity to say no.</p>

    </article>
</div>


<!-- Footers -->
<app-footer></app-footer>