<ng-container *ngFor="let item of datas">
    <ng-container *ngIf="productID == item.id">
        <!-- Importing Navbar -->
        <app-navbar></app-navbar>

        <!-- <img src="assets/prod-imgs/prod{{productID}}.png" alt="Avatar" style="width:500px; height: 500px;"> -->

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                            src="/assets/prod-imgs/pannels/pann{{productID}}.png" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">Shop item template</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$45.00</span>
                            <span>$40.00</span>
                        </div>
                        <p class="lead">{{item.description}}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                                style="max-width: 3rem" />
                            <!-- <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button> -->
                            <button mat-raised-button (click)="openBottomSheet()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <!-- Features section-->
        <section class="py-5 " id="features" style="background-color: #c9e6ff;">
            <!-- Hanging Icons -->
            <div class="center container px-4 py-5" id="hanging-icons">
                <h1 class="pb-2">Product Features</h1>
                <hr style="background-color: black;">

                <div class=" row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col d-flex align-items-start">
                        <div class="icon-square me-3">
                            <!-- <mat-icon>flash_on</mat-icon> -->
                            <mat-icon svgIcon="low_light" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                            </mat-icon>
                        </div>

                        <div>
                            <h2>Excellent Performance in low light</h2>
                            <p>High quality transparent glass Glossy EVA to capture maximum solar energy.</p>
                        </div>
                    </div>

                    <div class="col d-flex align-items-start">
                        <div class="icon-square me-3">
                            <!-- <mat-icon>question_answer</mat-icon> -->
                            <mat-icon svgIcon="power_tolerace" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                            </mat-icon>
                        </div>
                        <div>
                            <h2>Positive Power Tolerance</h2>
                            <p>Ensures full energy harvesting.</p>
                            <p>Ensures better return on investment.</p>
                        </div>
                    </div>
                </div>

                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col d-flex align-items-start">
                        <div class="icon-square me-3">
                            <mat-icon svgIcon="extreme_weater"></mat-icon>
                        </div>
                        <div>
                            <h2>Suitable for Extreme Weather</h2>
                            <p>Tempered glass withstands dynamic wind load of 2400 Pa & snow load of 5400 Pa.</p>
                            <p>Multi EVA capsulation.</p>
                        </div>
                    </div>

                    <div class="col d-flex align-items-start">
                        <div class="icon-square me-3">
                            <mat-icon svgIcon="pid"></mat-icon>
                        </div>
                        <div>
                            <h2>Potential-Induced Degradation(PID) Resistance Technology</h2>
                            <p>For longer life and lower degradation.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end Hanging Icons -->

        </section>
    </ng-container>
</ng-container>