<ng-container *ngFor="let item of datas">
    <ng-container *ngIf="productID == item.id">
        <!-- Importing Navbar -->
        <app-navbar></app-navbar>

        <!-- <img src="assets/prod-imgs/prod{{productID}}.png" alt="Avatar" style="width:500px; height: 500px;"> -->

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                            src="/assets/prod-imgs/pannels/pann{{productID}}.png" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{item.small_title}}</div>
                        <h1 class="display-5 fw-bolder">{{item.title}}</h1>
                        <div class="fs-5 mb-4">
                            <!-- <span class="text-decoration-line-through">$45.00</span> -->
                            <span><b>Price:</b> &#8377;{{item.price}}</span>
                        </div>

                        <h1><b>Description:</b></h1>
                        <p>{{item.description}}</p>

                        <br>

                        <h1><b>Specification:</b></h1>
                        <ng-container *ngFor="let i of item.specifications">
                            <li>{{i}}</li>
                        </ng-container>

                        <br>

                        <div class="d-flex">
                            <!-- <button mat-raised-button (click)="openBottomSheet()">Buy</button> -->
                            <button mat-raised-button style="margin-left: 1%;" (click)="addtocart(item)"
                                (click)="openBottomSheet()">Add to Cart</button>

                            <button mat-raised-button style="margin-left: 1%;" (click)="otherPayment(item)">Other Payment</button>
                        </div>

                        <a href="{{this.btn_lnk}}" target="_blank">{{this.btn_lnk}}</a>

                    </div>
                </div>
            </div>
        </section>

        <!-- Features section-->
        <section class="py-5 " id="features" style="background-color: #c9e6ff;">
            <!-- Hanging Icons -->
            <div class="center container px-4 py-5" id="hanging-icons">
                <h1 class="pb-2">Product Features</h1>
                <hr style="background-color: black;">

                <div class=" row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col d-flex align-items-start">
                        <div class="icon-square me-3">
                            <!-- <mat-icon>flash_on</mat-icon> -->
                            <mat-icon svgIcon="low_light" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                            </mat-icon>
                        </div>

                        <div *ngIf="this.feat_chng; else elseBlock">
                            <h2>asdasdast</h2>
                            <p>Hsadsad.</p>
                        </div>

                        <ng-template #elseBlock>
                            <div>
                                <h2>Excellent Performance in low light</h2>
                                <p>High quality transparent glass Glossy EVA to capture maximum solar energy.</p>
                            </div>
                        </ng-template>
                    </div>

                    <div class="col d-flex align-items-start">
                        <div class="icon-square me-3">
                            <!-- <mat-icon>question_answer</mat-icon> -->
                            <mat-icon svgIcon="power_tolerace" aria-hidden="false"
                                aria-label="Example thumbs up SVG icon">
                            </mat-icon>
                        </div>
                        <div>
                            <h2>Positive Power Tolerance</h2>
                            <p>Ensures full energy harvesting.</p>
                            <p>Ensures better return on investment.</p>
                        </div>
                    </div>
                </div>

                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col d-flex align-items-start">
                        <div class="icon-square me-3">
                            <mat-icon svgIcon="extreme_weater"></mat-icon>
                        </div>
                        <div>
                            <h2>Suitable for Extreme Weather</h2>
                            <p>Tempered glass withstands dynamic wind load of 2400 Pa & snow load of 5400 Pa.</p>
                            <p>Multi EVA capsulation.</p>
                        </div>
                    </div>

                    <div class="col d-flex align-items-start">
                        <div class="icon-square me-3">
                            <mat-icon svgIcon="pid"></mat-icon>
                        </div>
                        <div>
                            <h2>Potential-Induced Degradation(PID) Resistance Technology</h2>
                            <p>For longer life and lower degradation.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end Hanging Icons -->

        </section>
    </ng-container>
</ng-container>