<!-- Importing Navbar -->
<app-navbar></app-navbar>

<!-- MAIN (Center website) -->
<div class="container" style="padding: 16px 16px;">

    <h2 class="pb-2 border-bottom">Categories</h2>

    <div class="myBtnContainer" id="myBtnContainer">

        <!-- 
            set active when 'tabIndex === 0' returns true |  mat-raised-button
         -->
        <mat-button-toggle-group appearance="legacy">
            <mat-button-toggle class="btn" [ngClass]="{'active': tabIndex == 0}" (click)="onTabClick(0)"
                routerLink="/product" [routerLinkActive]="['active']" [class.active]="isActive('btn1')"
                (click)="setActive('btn1')" (click)="filterSelection1('all')"> Show
                all</mat-button-toggle>

            <mat-button-toggle class="btn" [ngClass]="{'active': tabIndex == 1}" (click)="onTabClick(1)"
                [class.active]="isActive('btn2')" (click)="setActive('btn2')" (click)="filterSelection1('batteries')">
                Batteries</mat-button-toggle>

            <mat-button-toggle class="btn" [ngClass]="{'active': tabIndex == 2}" (click)="onTabClick(2)"
                [class.active]="isActive('btn3')" (click)="setActive('btn3')" (click)="filterSelection1('pannels')">
                Pannels</mat-button-toggle>

            <mat-button-toggle class="btn" [ngClass]="{'active': tabIndex == 3}" (click)="onTabClick(3)"
                [class.active]="isActive('btn4')" (click)="setActive('btn4')" (click)="filterSelection1('inverters')">
                Inverters</mat-button-toggle>

            <mat-button-toggle class="btn other" [ngClass]="{'active': tabIndex == 4}" (click)="onTabClick(4)"
                [class.active]="isActive('btn5')" (click)="setActive('btn5')" (click)="filterSelection1('others')">
                Others</mat-button-toggle>
        </mat-button-toggle-group>

    </div>

    <!-- Portfolio Gallery Grid -->
    <div class="row container px-4 py-5 text-center d-flex align-items-center justify-content-center" id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-3 container align-items-stretch g-4 py-5 text-center d-flex align-items-center justify-content-center"
            id="colu">

            <!-- BATTERIES -->
            <div @fade class="col column batteries show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/0">
                            <img src="assets/prod-imgs/pannels/pann0.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Battery LFS 340L</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column batteries show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/1">
                            <img src="assets/prod-imgs/pannels/pann1.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Battery LFS 375L</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column batteries show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/2">
                            <img src="assets/prod-imgs/pannels/pann2.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Battery LFS 5100H</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column batteries show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/3">
                            <img src="assets/prod-imgs/pannels/pann3.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Battery LFS 5135H</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column batteries show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/4">
                            <img src="assets/prod-imgs/pannels/pann4.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Battery LFS 5150H</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div @fade class="col column batteries show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/5">
                            <img src="assets/prod-imgs/pannels/pann5.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Battery LFS 5165H</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column batteries show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/6">
                            <img src="assets/prod-imgs/pannels/pann6.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Battery LFS 5180H</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column batteries show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/7">
                            <img src="assets/prod-imgs/pannels/pann7.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Battery LFS 5200H</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BATTRIES END -->




            <!-- PANNELS -->
            <div @fade class="col column pannels show">
                <div class="card" style="border-radius: 20%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/8">
                            <img src="assets/prod-imgs/pannels/pann8.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Panel LFV12V40</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column pannels show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/9">
                            <img src="assets/prod-imgs/pannels/pann9.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Panel LFV12V100</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column pannels show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/10">
                            <img src="assets/prod-imgs/pannels/pann10.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Panel LFV12V160</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column pannels show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/11">
                            <img src="assets/prod-imgs/pannels/pann11.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Panel LFV12V165M</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column pannels show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/12">
                            <img src="assets/prod-imgs/pannels/pann12.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Panel LFV12V50</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column pannels show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/13">
                            <img src="assets/prod-imgs/pannels/pann13.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Panel LFV12V75</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column pannels show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/14">
                            <img src="assets/prod-imgs/pannels/pann14.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Panel LFV24V325</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column pannels show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
                        <a routerLink="viewproduct/15">
                            <img src="assets/prod-imgs/pannels/pann15.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Panel LFV24V375M</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PANNELS END -->




            <!-- Inverters -->
            <div @fade class="col column inverters show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/16">
                            <img src="assets/prod-imgs/pannels/pann16.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Inverter LFS SO1150</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column inverters show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/17">
                            <img src="assets/prod-imgs/pannels/pann17.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Inverter LFS SO1850</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column inverters show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/18">
                            <img src="assets/prod-imgs/pannels/pann18.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar Inverter LFS SO2250</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column inverters show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/19">
                            <img src="assets/prod-imgs/pannels/pann19.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar PCU LFS SO3500</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column inverters show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/20">
                            <img src="assets/prod-imgs/pannels/pann20.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar PCU LFS SO5000</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column inverters show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/21">
                            <img src="assets/prod-imgs/pannels/pann21.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar PCU LFS SO5048</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column inverters show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/22">
                            <img src="assets/prod-imgs/pannels/pann22.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar PCU LFS SO7500</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column inverters show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/23">
                            <img src="assets/prod-imgs/pannels/pann23.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Livfast Solar PCU LFS SO10000</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Inverters END -->

            <!-- OTHERS  -->
            <div @fade class="col column others show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/24">
                            <img src="assets/prod-imgs/pannels/pann24.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>MC4 Connectors</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div @fade class="col column others show">
                <div class="card" style="border-radius: 11%;">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg"
                        style="padding-top: 15%;">
                        <a routerLink="viewproduct/25">
                            <img src="assets/prod-imgs/pannels/pann25.png" alt="Avatar" style="width:53%">
                        </a>
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h2>Solar Pannel Stand</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OTHERS END -->

        </div>
    </div>
</div>





<!-- Hanging Icons -->
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Product Features</h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square me-3">
                <!-- <mat-icon>flash_on</mat-icon> -->
                <mat-icon svgIcon="whatsapp" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            </div>

            <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square me-3">
                <!-- <mat-icon>question_answer</mat-icon> -->
                <mat-icon svgIcon="delivery" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            </div>
            <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square me-3">
                <mat-icon>build</mat-icon>
            </div>
            <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
            </div>
        </div>
    </div>
</div>
<!-- end Hanging Icons -->

<!-- Footers -->
<app-footer></app-footer>