<!-- Importing Navbar -->
<app-navbar></app-navbar>

<!-- contract Image -->
<section class="parallax">
    <!-- <img src='/assets/prod-imgs/shipping.png' alt="Avatar"
        style="width:100%; height: 500px; background-position: cover;"> -->
        <div class="parallax-inner "></div>
</section>

<!-- Content -->
<div class="container pt-5 pb-5">
    <article class="blog-post"><br><br><br>
        <h1 class="blog-post-title" style="font-size: 50px;">Shipping Locations</h1>
        <hr><br>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 5%;">Invest Energy
            operates and delivers at almost all the major locations across India. However, we may not be able to deliver
            at certain locations due to logistical limitations. You can know about the serviceability at your location
            by contacting us on:8108493971/9096238495
            investanergy@gmail.com.
        </p><br><br>


        <h1 style="font-size: 40px;">Delivery Time.</h1>
        <hr>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 5%;">Invest Energy takes approximately
            around 5-7 days to deliver the product to your location after you complete the order. However in extreme
            cases, it may take longer to ship the product. In such cases you will be intimated well in advance.
        </p><br><br><br>


        <h1 style="font-size: 40px;">Order Tracking.</h1>
        <hr>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Once your order is complete you
            will receive the Order Confirmation through email and SMS on your registered e-mail ID and phone numbers,
            respectively. Once it is processed you will again be intimated similarly through an email and SMS.
        </p><br>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 5%;">If you have purchased online while
            logged in, you will be able to track the shipment from your account dashboard. However if you shopped as a
            guest you will need to contact us at our Sales Support Phone No 8108493971/9096238495 or by mailing at
            investanergy@gmail.com, mentioning your order details.
        </p><br><br><br>


        <h1 style="font-size: 40px;">Shipping Method.</h1>
        <hr>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 5%;">Invest Energy Ships order either
            through reputed courier services or through our aligned partners located near you. Since our aligned
            partners are in your locations the delivery of heavy items becomes even easier and safe. In case of products
            shipped through courier, you will be get the details like Courier Company, Airway Bill Number etc so that
            you can track your consignments.
            If you receive your product in a damaged condition, you are advised not to accept it. In case there is any
            other issue with the product and you accept it, please write the suitable remark in the POD (proof of
            delivery) document. For more details please check the Returns Policy.
        </p><br><br><br>


        <h1 style="font-size: 40px;">International Operations.</h1>
        <hr>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 5%;">Invest Energy doesn’t deliver items
            to international locations.
        </p><br><br><br>

    </article>
</div>


<!-- Footers -->
<app-footer></app-footer>