/* .rounded-5{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-right: 2%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  } */

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
   
  td {
    padding-right: 8px;
  }

  .example-full-width {
    width: 100%;
    
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
  
  .mat-form-field-appearance-fill {
    border-radius: 4px 4px 0 0;
    padding: .75em .75em 0 .75em;
}

.carousel-item {
  height: 817px;
}

@media (min-width: 380px) and (max-width: 449px){
  .carousel-item {
    height: auto;
  }
  
}

@media only screen and (min-width: 375px) and (max-width: 380px) {
#carouselExampleFade {
  height: 200px;
}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  #carouselExampleFade {
    height: 180px;
  }
  }
