<!-- Carousel Slide -->

<!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/prod-imgs/solar-panel-4716640_1280.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/prod-imgs/photovoltaic-system-2742302-min.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/prod-imgs/solarpark-1288842_1280.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/prod-imgs/1663667.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/prod-imgs/solar-2666770-min.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<!-- Showcase, the important stuff -->
<section class="showcase">
  <div class="container-fluid">
    <div class="align-top">
      <app-navbar></app-navbar>
    </div>

    <div @fade class="row" style="margin-top: 20%;">
      <div class="col-md-12 text-bottom boom-text">
        <h1 style="font-size: 5em;">SAVE THE PLANET.</h1>
        <h1 style="margin-top: 2%;">BECOME A SUPERHERO</h1>
        <!-- <button mat-stroked-button href="https://www.google.com/" target="_blank">Success</button> -->
        <!-- <a href="#!" class="btn btn-primary">Success</a> -->
      </div>
    </div>
  </div>
</section>

<!-- End Carousel Slide -->



<!-- Card View -->

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 text-center py-5">Special Offers</h2>

  <!--END COMBO Hybrid -->
  <mat-tab-group dynamicHeight>
    <mat-tab label="Combo Hybrid">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <div class="col">
          <div class="card cards" style="border-radius: 6%;">
            <a routerLink="product/viewproduct/26">
              <div class="card cards" style="border-radius: 6%;">
                <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5">
                  <div class="small-8 ribbon-holder">
                    <div class="ribbon">
                      COMBO
                    </div>
                    <div class="hover03 column">
                      <img src="assets/prod-imgs/pannels/pann26.png" alt="Avatar" style="width:100%">
                    </div>
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card cards" style="border-radius: 6%;">
            <a routerLink="product/viewproduct/27">
              <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5">
                <div class="small-8 ribbon-holder">
                  <div class="ribbon">
                    COMBO
                  </div>
                  <img src="assets/prod-imgs/pannels/pann27.png" alt="Avatar" style="width:100%">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card cards" style="border-radius: 6%;">
            <a routerLink="product/viewproduct/28">
              <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5">
                <div class="small-8 ribbon-holder">
                  <div class="ribbon">
                    COMBO
                  </div>
                  <img src="assets/prod-imgs/pannels/pann28.png" alt="Avatar" style="width:100%">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </mat-tab>

    <!--END COMBO Hybrid -->

    <!-- COMBO ON GRID -->

    <mat-tab label="Combo On-grid">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <div class="col">
          <div class="card cards" style="border-radius: 6%;">
            <a routerLink="product/viewproduct/29">
              <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5">
                <div class="small-8 ribbon-holder">
                  <div class="ribbon">
                    COMBO
                  </div>
                  <img src="assets/prod-imgs/pannels/pann29.png" alt="Avatar" style="width:100%">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card cards" style="border-radius: 6%;">
            <a routerLink="product/viewproduct/30">
              <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5">
                <div class="small-8 ribbon-holder">
                  <div class="ribbon">
                    COMBO
                  </div>
                  <img src="assets/prod-imgs/pannels/pann30.png" alt="Avatar" style="width:100%">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card cards" style="border-radius: 6%;">
            <a routerLink="product/viewproduct/31">
              <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5">
                <div class="small-8 ribbon-holder">
                  <div class="ribbon">
                    COMBO
                  </div>
                  <img src="assets/prod-imgs/pannels/pann31.png" alt="Avatar" style="width:100%">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </mat-tab>
    <!-- COMBO ON GRID -->

    <!-- Accessories -->
    <mat-tab label="Accessories">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <div class="col">
          <div class="card cards" style="border-radius: 6%;">
            <a routerLink="product/viewproduct/24">
              <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5">
                <div class="small-8 ribbon-holder" style="height:470px">
                  <div class="ribbon">
                    COMBO
                  </div>
                  <img src="assets/prod-imgs/pannels/pann34.png" alt="Avatar" style="width:100%">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card cards" style="border-radius: 6%;">
            <a routerLink="product/viewproduct/32">
              <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5">
                <div class="small-8 ribbon-holder" style="height:470px">
                  <div class="ribbon">
                    COMBO
                  </div>
                  <img src="assets/prod-imgs/pannels/pann32.png" alt="Avatar" style="width:100%">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col">
          <div class="card cards" style="border-radius: 6%;">
            <a routerLink="product/viewproduct/33">
              <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5">
                <div class="small-8 ribbon-holder" style="height:470px">
                  <div class="ribbon">
                    COMBO
                  </div>
                  <img src="assets/prod-imgs/pannels/pann33.png" alt="Avatar" style="width:100%">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </mat-tab>
    <!-- Accessories -->
  </mat-tab-group>

  <!-- END COMBO ON GRID -->

</div>


<!-- <div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Custom cards</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

    <div class="col">
      <div class="card">
        <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
          <a routerLink="product/viewproduct/24">
            <img src="assets/prod-imgs/pannels/pann24.png" alt="Avatar" style="width:100%">
          </a>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
          <a routerLink="product/viewproduct/25">
            <img src="assets/prod-imgs/pannels/pann25.png" alt="Avatar" style="width:100%">
          </a>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
          <a routerLink="product/viewproduct/26">
            <img src="assets/prod-imgs/pannels/pann26.png" alt="Avatar" style="width:100%">
          </a>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->

<!-- End Card View -->

<!-- Center banner -->
<!-- <div class="container my-5" style="padding-bottom: 3%;">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Best Deal</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
        prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button mat-raised-button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Buy</button>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <img class="rounded-lg-3" style="padding-right: 66%;" src="assets/prod-imgs/prod1.png" alt="" width="720">
    </div>
  </div>
</div> -->
<!-- End Center banner -->

<!-- Query Form -->
<div class="py-5 text-center">
  <h1>For Bulk Orders, Site Survey, Contacting US or any other queries.</h1>
  <h1>Please fill the form, we will contact you ASAP.</h1>
</div>
<div class="container text-center d-flex align-items-center justify-content-center">
  <form class="example-form" (ngSubmit)="onSubmit()">

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name *</mat-label>
            <input matInput name="firstname" [(ngModel)]="firstname">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last name *</mat-label>
            <input matInput name="lastname" [(ngModel)]="lastname">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" style="margin-bottom: 2%;">
            <mat-label>Email *</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" name="email"
              [(ngModel)]="email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address *</mat-label>
        <textarea name="address" [(ngModel)]="address" matInput
          placeholder="Eg: A.401, Vasant Vihar, Old Panvel"></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>City *</mat-label>
            <input matInput placeholder="Ex. Navi Mumbai" name="city" [(ngModel)]="city">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>State *</mat-label>
            <input matInput placeholder="Ex. Maharashtra" name="state" [(ngModel)]="state">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Postal Code *</mat-label>
            <input matInput #postalCode type="number" maxlength="6" placeholder="Ex. 410206" value="410206"
              name="postalcode" [(ngModel)]="postalcode">
            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment *</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." name="comment" [(ngModel)]="comment"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="example-full-width">
      <mat-label>Telephone *</mat-label>
      <span matPrefix>+91 &nbsp;</span>
      <input type="number" matInput placeholder="123-456-7890" name="phone" [(ngModel)]="phone">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <!-- <button type="submit" mat-raised-button color="primary">Submit</button> -->

    <button mat-raised-button type="submit" color="primary" (click)="openSnackBar('Thanks for your Feedback', 'OK')"
      [disabled]="!firstname || !lastname || !email || !address || !city || !state || !postalcode || !comment || !phone || emailFormControl.hasError('email') || emailFormControl.hasError('required')">Send</button>

    <br><br><br>
  </form>

</div>
<!-- END Query Form -->

<!-- Footers -->
<app-footer></app-footer>