/* .rounded-5{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-right: 2%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  } */

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
   
  td {
    padding-right: 8px;
  }

  .example-full-width {
    width: 100%;
    
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
  
  .mat-form-field-appearance-fill {
    border-radius: 4px 4px 0 0;
    padding: .75em .75em 0 .75em;
}

.carousel-item {
  height: 817px;
}

.showcase{
  overflow: hidden;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin: auto;
  /*
  *
  * HERE IS THE SECRET
  * MAKE SURE TO ALWAYS USE A LINEAR-GRADIENT VALUE
  * THE FIRST ONE WILL BE FOR A BLACK OPACITY
  * THE SECOND ONE (COMMENTED) WILL BE FOR A WHITE OPACITY
  *
  */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%,rgba(0, 0, 0, 0.7) 100%) , url('/assets/prod-imgs/pexels-kelly-lacy-4320481.jpg');

  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 589px){
  .boom-text {
  font-size: 0.7em;
  }
}

@media (max-width: 419px){
  .boom-text {
  font-size: 0.6em;
  }
}

@media (max-width: 362px){
  .boom-text {
  font-size: 0.5em;
  }
}

@media (min-width: 380px) and (max-width: 449px){
  .carousel-item {
    height: auto;
  }
  
}

@media only screen and (min-width: 375px) and (max-width: 380px) {
  #carouselExampleFade {
    height: 200px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  #carouselExampleFade {
    height: 180px;
  }
  }
