<app-navbar></app-navbar>

<!-- Carousel Slide -->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="//cdn.shopify.com/s/files/1/2980/5140/files/lithium_battery_banner_3_1200x.jpg?v=1619246121"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.shopify.com/s/files/1/2980/5140/files/Web_banner_1200x.jpg?v=1619263955"
        class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- End Carousel Slide -->


<!-- Card View -->

<!-- <div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Custom cards</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

    <div class="col">
      <div class="card">
        <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
          <img src="assets/prod-imgs/prod1.png" alt="Avatar" style="width:100%">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
          <img src="assets/prod-imgs/prod1.png" alt="Avatar" style="width:100%">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card card-cover h-100 overflow-hidden text-white bg-light rounded-5 shadow-lg">
          <img src="assets/prod-imgs/prod1.png" alt="Avatar" style="width:100%">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->

<!-- End Card View -->

<!-- Center banner -->
<div class="container my-5" style="padding-bottom: 3%;">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Best Deal</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
        prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button mat-raised-button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Buy</button>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <img class="rounded-lg-3" style="padding-right: 66%;" src="assets/prod-imgs/prod1.png" alt="" width="720">
    </div>
  </div>
</div>

<!-- End Center banner -->

<div class="container text-center d-flex align-items-center justify-content-center">
  <form class="example-form" (ngSubmit)="onSubmit()">

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name *</mat-label>
            <input matInput name="firstname" [(ngModel)]="firstname">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last name *</mat-label>
            <input matInput name="lastname" [(ngModel)]="lastname">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" style="margin-bottom: 2%;">
            <mat-label>Email *</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" name="email"
              [(ngModel)]="email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address *</mat-label>
        <textarea name="address" [(ngModel)]="address" matInput
          placeholder="Eg: A.401, Vasant Vihar, Old Panvel"></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>City *</mat-label>
            <input matInput placeholder="Ex. Navi Mumbai" name="city" [(ngModel)]="city">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>State *</mat-label>
            <input matInput placeholder="Ex. Maharashtra" name="state" [(ngModel)]="state">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Postal Code *</mat-label>
            <input matInput #postalCode maxlength="6" placeholder="Ex. 410206" value="410206" name="postalcode"
              [(ngModel)]="postalcode">
            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment *</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." name="comment" [(ngModel)]="comment"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="example-full-width">
      <mat-label>Telephone *</mat-label>
      <span matPrefix>+91 &nbsp;</span>
      <input type="tel" matInput placeholder="123-456-7890" name="phone" [(ngModel)]="phone">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <!-- <button type="submit" mat-raised-button color="primary">Submit</button> -->
    <ng-template [ngIf]="this.firstname && this.lastname && this.email && this.address && this.city && this.state && this.postalcode && this.comment && this.phone"><button mat-raised-button color="primary"
      (click)="openSnackBar('Thanks for your Feedback', 'OK')">Send</button></ng-template>
    <br><br>
  </form>

</div>
<!-- <form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
      <label for="text">Task</label>
      <input type="text" name="text" [(ngModel)] = "text" id="text" placeholder="Add Task"/>
  </div>

  <input type="submit" class="btn btn-block" value="Save Task"/>
</form> -->