.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -100);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.py-5 {
    padding-top: 0rem!important;
    padding-bottom: 1rem!important;
}

.about-ie {
    position: relative;
    width: 100%;
    padding-right: 1px;
    padding-left: 0px;
    padding-top: 1%;
    }


.parallax{
    background: url('https://images.pexels.com/photos/2609107/pexels-photo-2609107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-1{
    background: url('https://images.pexels.com/photos/1835712/pexels-photo-1835712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-2{
    background: url('https://images.pexels.com/photos/4275885/pexels-photo-4275885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-inner{
    padding-top: 20%;
    padding-bottom: 20%;
}

h3{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    font-size: 160px;
    text-align: center;
}

@media (min-width: 380px) {

    h1{
        font-size: 90px;
        text-align: center;
    }
}