<app-navbar></app-navbar>

<div @fade class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold" style="font-size: 35px;">About Invest Energy</h1>
        <p class="col-md-8 fs-4 about-ie" style="line-height: 1.5;">Invest Energy is an idea to influence society to contribute in eliminating carbon footprints by installing rooftop solar system.</p>
        <button class="btn btn-primary btn-lg" mat-raised-button style="background-color:#198754; margin-top: 1%;" [routerLink]="['/more-about-solar']">More About Solar Energy</button>
    </div>
</div>

<div @otherdiv class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2 style="font-size: 28px;">Mission</h2>
            <p style="font-size: 20px;">Our mission is to provide premium quality solar products and prompt Services.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2 style="font-size: 28px;">Vision</h2>
            <p style="font-size: 20px;">To Generate awareness about renewable resources, the alternate solution for fossil fuels based resources to generate electricity in pocket-friendly and eco-friendly way.</p>
        </div>
    </div>
</div>