<app-navbar></app-navbar>
<!-- 

<div @fade class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold" style="font-size: 35px;">About Invest Energy</h1>
        <p class="col-md-8 fs-4 about-ie" style="line-height: 1.5;">Invest Energy is an idea to influence society to contribute in eliminating carbon footprints by installing rooftop solar system.</p>
        <button class="btn btn-primary btn-lg" mat-raised-button style="background-color:#198754; margin-top: 1%;" [routerLink]="['/more-about-solar']">More About Solar Energy</button>
    </div>
</div>

<div @otherdiv class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2 style="font-size: 28px;">Mission</h2>
            <p style="font-size: 20px;">Our mission is to provide premium quality solar products and prompt Services.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2 style="font-size: 28px;">Vision</h2>
            <p style="font-size: 20px;">To Generate awareness about renewable resources, the alternate solution for fossil fuels based resources to generate electricity in pocket-friendly and eco-friendly way.</p>
        </div>
    </div>
</div> -->

<section class="1">
    <section class="parallax">
        <div class="parallax-inner ">
            <br>
            <h1 class="hover-underline-animation" id="about">About.</h1>
            <br>
        </div>
    </section>
</section>

<!-- <section class="2">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima fuga debitis quasi eius aliquid
        sapiente? Cumque blanditiis quibusdam, ex totam aliquam provident alias culpa, sit illo, eum doloribus
        doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reprehenderit voluptatum
        aperiam
        pariatur numquam praesentium recusandae, ipsa at iusto eveniet, distinctio sunt dolore nemo veniam maiores
        vitae
        deserunt cum ducimus.</h3>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima fuga debitis quasi eius aliquid
        sapiente? Cumque blanditiis quibusdam, ex totam aliquam provident alias culpa, sit illo, eum doloribus
        doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reprehenderit voluptatum
        aperiam
        pariatur numquam praesentium recusandae, ipsa at iusto eveniet, distinctio sunt dolore nemo veniam maiores
        vitae
        deserunt cum ducimus.</h3>
    <section class="parallax-2">
        <div class="parallax-inner">
            <br>
            <h1 id="vision">Vision.</h1>
            <br>
        </div>
    </section>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima fuga debitis quasi eius aliquid
        sapiente? Cumque blanditiis quibusdam, ex totam aliquam provident alias culpa, sit illo, eum doloribus
        doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reprehenderit voluptatum
        aperiam
        pariatur numquam praesentium recusandae, ipsa at iusto eveniet, distinctio sunt dolore nemo veniam maiores
        vitae
        deserunt cum ducimus.</h3>
    <h3>To Generate awareness about renewable resources, the alternate solution for fossil fuels based resources to
        generate electricity in pocket-friendly and eco-friendly way.</h3>
</section> -->

<div style="background-color:#e0e0e0; margin-top: 7%;">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg d-flex flex-row">
        <div class="container col-lg-7 p-3 p-lg-5 pt-lg-3 mission-vision">
            <h1 class="display-4 fw-bold lh-1" style="text-align: left; font-size: 58px;">Company Ambition</h1>
            <br>
            <div>
                <h2 style="font-size: 20px;"><b>Mission</b></h2>
                <p style="font-size: 16px;">Our mission is to provide premium quality solar products and prompt
                    Services.</p>
            </div>
            <br>
            <div>
                <h2 style="font-size: 20px;"><b>Vision</b></h2>
                <p style="font-size: 16px;">To Generate awareness about renewable resources, the alternate solution
                    for fossil fuels based resources to generate electricity in pocket-friendly and eco-friendly
                    way.</p>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="assets/prod-imgs/american-public-power-association-513dBrMJ_5w-unsplash.jpg"
                alt="" width="810">
        </div>
    </div>
</div>