<div class="container">
    <div class="top-text-wrapper text-center">
        <h4>Payment Options</h4>
        <hr>
        <h3>Choose anyone.</h3>
    </div>
    <form class="needs-validation" novalidate>
        <div class="grid-wrapper grid-col-2 ">

            <div class="card cards" style="border-radius: 56%;">
                <div class="card card-cover h-100 overflow-hidden text-white bg-white rounded-5 selection-wrapper">
                    <label for="selected-item-1" class="selected-label" style="margin-bottom: 0%;">
                        <input #todo type="radio" ng-control="options" name="selected-item" id="selected-item-1"
                            [value]="1" [(ngModel)]="model">
                        <div class="selected-content">
                            <img src="assets/prod-imgs/upi.png"
                                alt="">
                            <h4>Normal Pay.</h4>
                            <h2>Pay ₹{{this.cartTotal}}</h2>
                            <p class="price" style="color:black; margin-top: -10%;">By yourself Through UPI.</p>
                        </div>
                    </label>
                </div>
            </div>

            <div class="card cards" style="border-radius: 56%;">
                <div class=" card card-cover h-100 overflow-hidden text-white bg-white rounded-5 selection-wrapper">
                    <label for="selected-item-2" class="selected-label" style="margin-bottom: 0%;">
                        <input #todo type="radio" ng-control="options" checked name="selected-item" id="selected-item-2"
                            [value]="2" [(ngModel)]="model">
                        <div class="selected-content">
                            <img style="margin-bottom: 12%;" src="assets/prod-imgs/cashfree.JPG"
                                alt="">
                            <h4>Cashfree Pay.</h4>
                            <h2>Pay ₹{{this.cartTotal_tax | number}} <mat-icon style="height: 30px;width: 20px;" mat-raised-button
                                    svgIcon="info" matTooltip="*Extra Charges for CAHSHFREE COMMISSION for Seamless Experience" #tooltip="matTooltip" (click)="tooltip.toggle()" matTooltipClass="custom-tooltip">
                                </mat-icon>
                            </h2>
                            <p class="price" style="color:black; margin-top: -10%;">Through Cashfree for Seamless Experience</p>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button [disabled]="!model" mat-raised-button type=submit color="primary" 
                (click)="onSubmit(todo)">Submit</button>
        </div>
    </form>
</div>