<!-- Nav Bar -->
<!-- <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example" style="background-color:#015d33!important;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Never expand</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01"
      aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample01">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link" id ="navb" onclick="myFunction()" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <span onclick="myFunction()"></span><span onclick="myFunction()"></span>
          <a class="nav-link" id ="navb" onclick="myFunction()" routerLink="/product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id ="navb" onclick="myFunction()" routerLink="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Always expand</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
      aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/product" (click)="filterSelection1('all')" (click)="Active('active')" >Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- End Nav Bar -->

<!-- whatsapp float button -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=919096238495&text=Hi."
    class="float" target="_blank">
    <!-- <mat-icon class="my-float">contacts</mat-icon> -->
    <mat-icon class="my-float" svgIcon="whatsapp" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
  </a>

<router-outlet></router-outlet>