<!-- Importing Navbar -->
<app-navbar></app-navbar>

<!-- contract Image -->
<section class="parallax">
    <!-- <img src='/assets/prod-imgs/policy1.jpg' alt="Avatar" style="width:100%; height: 500px; background-size: cover; display: block;"> -->
    <div class="parallax-inner "></div>
</section>

<!-- Content -->
<div class="container pt-5 pb-5">
    <article class="blog-post"><br><br><br>
        <h2 class="blog-post-title" style="font-size: 30px;">CANCELLATION & RETURN</h2>
        <hr><br>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 5%;">Invest Energy
            ensures the delivery
            of products within 7 days after you have placed the order. We make sure that our products that reach you are
            functional and have no defects.

            All the products sold through Invest Energy are usually delivered in person by our aligned partners located
            near you. Hence, there is very little risk of product damage or any operational issue. However if there is
            any defect or damage in the product please contact us so that we can take the necessary actions for you to
            enjoy using our products and services without any hassle. You can simply contact our online sales support
            team at 9096238495/8108493971, or mail at investanergy@gmail.com, mentioning your order details. We will be
            happy to resolve your issues.</p><br><br>


        <h2 style="font-size: 30px;padding-top: 1%;">Order Cancellation:</h2>
        <hr><br>

        <ol>
            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Order Cancellation is allowed
                only till the time the order is not shipped. Once shipped an order cannot be cancelled.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%">You can
                cancel your order
                anytime, however with the following applicable charges.</li>

            <ul>
                <li style="font-size: 18px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%;">After
                    placing the order – 10% deduction of Invoice Value</li>
            </ul>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">You need to send us the
                cancellation request by mailing at investanergy@gmail.com, or by contacting us on our Sales Support
                Phone No. 9096238495/8108493971, mentioning your order details is mandatory.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">In case of prepaid orders with
                online payment (credit card / debit card / Wallet / bank transfers) the refund will be done in the same
                payment mode as originally used while placing the order.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">In most of the cases the
                refund takes 5-7 working days to reflect in your account, after we process your refund request.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">In case the payment mode is
                Cheque or bank transfer (NEFT / IMPS / RTGS) or Cash on Delivery, you will have to send us an image of
                cancelled Cheque of the account in which you would wish to receive your refund amount.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%">In case the
                cancelled Cheque
                is not available, please send us the following details via e-mail on investanergy@gmail.com</li>
            <ul>
                <li style="font-size: 18px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%;">After
                    placing the order – 10% deduction of Invoice Value</li>
            </ul>
        </ol>

        <h2 style="font-size: 30px;padding-top: 1%;padding-top: 5%;">Invest Ebergy reserves the right to
            cancel the order under below mentioned circumstances:</h2>
        <hr><br>

        <ol>
            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Error / Mistake in product
                information on our website (error in price, specification, quantity etc.)</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Wrong or incomplete details
                provided while placing the order (incomplete address, wrong or no PIN code, phone number, etc.).</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">COD order which you did not
                re-confirm.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Product not available.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Delivery address is out of
                service area</li>
        </ol>


        <h2 style="font-size: 30px;padding-top: 1%;padding-top: 5%;">Product Replacement:</h2>
        <hr><br>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Due to nature of our products, we
            discourage the returns post satisfactory product delivery. However if there is any issue in the product we
            will be happy to assist you with the right solution like replacement or the service as the case may be.</p>
        <br><br>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">We will replace your products till
            3 days from the day of delivery at your place. The replacement would be considered in the following
            circumstances:</p><br><br>

        <ol>
            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Product delivered was
                different from what you ordered (different model, size, make, specifications, etc.). All the parts of
                the product should be intact and in functional state.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">The product delivered was
                damaged or defective or used.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Some parts / accessories of
                the products were missing.</li>
        </ol>

        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">In all above cases of product
            replacement, you will be provided with a fresh product. Refunds will be provided only if we are not able to
            provide you a replacement product.
        </p><br><br>

        <h2 style="font-size: 30px;padding-top: 1%;padding-top: 5%;">Replacement or refund will not be
            issued under following conditions:</h2>
        <hr><br>

        <ol>
            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">The request is made beyond the
                above specified time frame.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Missing original packaging and
                accessories, including the retail box, manuals, cables, and all other items originally included with the
                product at the time of delivery.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">You have used the products or
                product is damaged in some way after the delivery.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Product is not in the same
                condition as you received it.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Any accessary or consumable
                item which has been used or installed.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Serial Numbers of the Products
                are tampered with or missing.</li>
        </ol>


        <p style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Beyond this time frame the Products
            would be repaired as per the Manufacturer's Servicr & Warranty Policy.
        </p><br><br>

        <h2 style="font-size: 30px;padding-top: 1%;padding-top: 5%;">RETURN PROCESS</h2>
        <hr><br>

        <ol>
            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey; padding-bottom: 2%">Initiate
                return: Write a mail
                at investanergy@gmail.com or by contacting us on our Sales Support Phone No 9096238495/8108493971,
                mentioning following details:</li>

            <ul>
                <li style="font-size: 15px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%;">Order
                    No.</li>
                <li style="font-size: 15px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%;">SKU /
                    Product you want to return</li>
                <li style="font-size: 15px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%;">Clear
                    images of the product and packaging highlighting the issue.</li>
                <li style="font-size: 15px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%;">Invoice
                    Copy.</li>
                <li style="font-size: 15px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%;">Copy of
                    cancelled Cheque (if payment was done in COD / Cheque / bank transfer). If cancelled Cheque is not
                    available share account holder’s name, account number, bank name and IFSC Code of the branch.</li>
            </ul>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Reverse Pickup / Self - ship:
                Once your return request is accepted, you will be requested to repack the product with original packing
                and invoice. In case reverse pickup facility is not available at your location, please ship the package
                to our pre-informed location by courier service. The courier charges would be reimbursed.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Product Inspection: Once the
                return parcel reaches our location, we will do a thorough inspection and will initiate
                replacement/refund only after we are satisfied with the genuineness of the return request and condition
                of the product. In case we find that above guidelines are not met, we will return the product back to
                you without replacement / refund.</li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Replacement / Refund: The
                replacement product will be shipped to you within 7 working days. If replacement can’t be provided we
                will refund the entire amount.</li>
        </ol>



    </article>
</div>


<!-- Footers -->
<app-footer></app-footer>