<!-- Importing Navbar -->
<app-navbar></app-navbar>

<!-- contract Image -->
<section class="parallax">
    <!-- <img src='/assets/prod-imgs/policy1.jpg' alt="Avatar" style="width:100%; height: 500px; background-size: cover; display: block;"> -->
    <div class="parallax-inner "></div>
</section>

<!-- Content -->
<div class="container pt-5 pb-5">
    <article class="blog-post"><br><br><br>
        <h1 class="blog-post-title" style="font-size: 30px;">Warranty Policy</h1>
        <hr><br>

        <ol>
            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Warranty period will be informed/displayed in product cart details by us.
            </li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%">Warranty is offered by Manufacturer of the product and not by us.
            </li>
            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%">Warranty and its clauses of the products will be compensated by Manufacturer/Supplier/Distributor of the products and not by us. However complete support and assist will be provided by us during the same.
            </li>
            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;">Only service mentioned as 'free' in Manufacturer's warranty will non-chargeable, rest all services will be chargeable if opted by the customer.
            </li>

            <li style="font-size: 20px;font-weight: lighter;padding-top: 1%;color: grey;padding-bottom: 2%">Service charges will be charged post warranty period as per the service opted by the customer.
            </li>
        </ol>

    </article>
</div>


<!-- Footers -->
<app-footer></app-footer>