.parallax{
    background: url('/assets/prod-imgs/warrantypolicy.jpg') repeat fixed 50%;
    background-size: cover;
    color: aliceblue;
    /* width: 100%; */
    max-width: 100%; 
    display: block; 
    height: auto;
    
}

.parallax-inner{
    padding-top: 16%;
    padding-bottom: 20%;
}